@font-face {
  font-family: 'IntriqueScriptPersonalUse';
  src: url('IntriqueScriptPersonalUse.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IntriqueScriptPersonalUse';
  src:  url('/fonts/IntriqueScriptPersonalUse.woff') format('woff'), url('/fonts/IntriqueScriptPersonalUse.ttf')  format('truetype'), url('/fonts/IntriqueScriptPersonalUse.svg#IntriqueScriptPersonalUse') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'TradeGothicNo.20-CondBold';
  src: url('/fonts/TradeGothicNo.20-CondBold_gdi.eot');
  src: url('/fonts/TradeGothicNo.20-CondBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TradeGothicNo.20-CondBold_gdi.woff') format('woff'),
    url('/fonts/TradeGothicNo.20-CondBold_gdi.ttf') format('truetype'),
    url('/fonts/TradeGothicNo.20-CondBold_gdi.svg#TradeGothicNo.20-CondBold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: expanded;
  unicode-range: U+0020-2122;
}

/*.wrapper {
position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}*/




body{
  font-family:'TradeGothicNo.20-CondBold' ; 
  font-size: 100%;
  /*height: 1000px;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffb9b5+100 */
  /*background: #ffb9b5 ;*/ /* Old browsers */
  background-image:url('/images/bg-full.jpg');
  
  background-size: auto auto;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  height: 100%;
overflow: hidden !important;
width: 100%;



  
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}





.parallax {
  -webkit-perspective: 1px;
  -ms-perspective: 1px;
  -moz-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden !important;
  -webkit-overflow-x: hidden !important;
  /*overflow-y: auto;*/
  
  font-family:'TradeGothicNo.20-CondBold' ; 
  

  perspective-origin-x: 100%;




 
}
.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform:transform-style: preserve-3d; /* Chrome, Safari, Opera */
  -ms-transform:transform-style: preserve-3d; /* IE 9 */
  -moz-transform:transform-style: preserve-3d;
  transform:transform-style: preserve-3d;
  display: inline-block;
      transition: transform 0.5s;
     



}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  transform-origin-x: 100%;
  /*overflow-x: hidden !important;*/
 
 
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  height: 100vh;
  width: 100%;
  z-index: 4;
 
  

  
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px);scale(2);
  -ms-transform: translateZ(-1px);scale(2);
  -moz-transform: translateZ(-1px);scale(2);
  transform: translateZ(-1px);scale(2);
  height: 100vh; 
  width: 100%;
  
/* 
  overflow-x: hidden !important;*/
  

}
.parallax__layer--deep {
  -webkit-transform: translateZ(-2px) scale(3);
  -ms-transform: translateZ(-2px) scale(3);
  -moz-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  height: 100vh;
  width: 100%;
/* overflow-x: hidden !important;*/
 
}

.popup{
  width: 100%;
  height:100%;
  background: #ffb9b5;
  
  position: fixed;
  z-index: 9999;
  overflow:hidden;





}

.btn-container{
  padding: 5px;
}
.age-text{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  
}

.age-text h2{
  color: white;
  
}

.vertical-center {
 min-height: 100%;  /* Fallback for vh unit */
min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.header {
  background-color:transparent;
  height:40px;
  width:100%;
  position:fixed;
  top:0;
  left:0; 
  display: table; 
  overflow: hidden;
  color: white;
  z-index: 9999;
   font-family:'TradeGothicNo.20-CondBold' ; 

}

div#header h3 {
  float: right;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
}


#group1{
  width:100%;
  height: 100%;
  z-index: ;
  


}
#group2{
  width:100%;
  height: 100%;
  z-index: ;
  
}
#group3{
  width:100%;
  height: 100%;
  z-index: ;

}
#group4{
  width:100%;
  height: 100%;
  z-index: ;
}

.logo{
  width: 100%;
  margin: auto;
}
.logo-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.full-width{
  width: 100%;
}

.beer-info h4{
  font-size: 4.2em;
}
.beer-info p{
  font-size: 1.3em;
}

.img-slider{
  padding-top: 300px;
}

.img-slider li{
  list-style: none;
} 

.beer-menu{
  width: 100%;
  margin: auto;
  display: inline-block;
  position: absolute;
  /* bottom: 0; */
  right: 50%;
  top: 450px;
  
}
.beer-menu a{
  display: inline-block;
  margin: auto;
  padding: 60px;
  color: black;
  text-decoration: none;
  font-size: 2.7em;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 30;
}
.beer-menu a:hover{
  color: black;
  text-decoration: none;
}
.beer-menu a:visited{
  color: black;
  text-decoration: none !important;
}
a:focus{
  text-decoration: none !important;
}

.cloud-right{
  float: right;
  margin-top: -170px;
}

.cloud-top{
  margin-top: -1000px;
  float: right;
}

.clouds-deep{
  width: 100%;
}

.video-contianer{
  margin: auto;
  height: 500px;
  padding-top: 50px;
  width: 100%;
  

}

iframe{
  margin: auto;
  text-align: center;
  display: block;
  max-width: 100% !important;
  position: absolute;
  right: 0;
  left: 0;
}

}

.instafeed{
    position: absolute;
    left: 0;
    right: 0;
    top: 600px;
  
}

#insta-container{
      position: absolute;
    left: 0;
    right: 0;
    top: 600px;
}

.instafeed h1{
  color: black;
  font-size: 3em;
  padding-bottom: 30px;
}

#instafeed{
  display: block;
  margin: auto;
  width: 930px;
  max-width: 100%;
}

#instafeed a {
  
}

.plus-left{
  margin-left: 100px 
}

.plus-right{
  margin-right:  100px
}


.lable{ 
  width: 60%;
  margin: auto;

}

.lable-empty{
  width: 35%;
  padding-top: 40px;

}


#order{
  display: none;
}

#beer{
  display: none;
}

#video{
  display: none;
}

#home{
  display: none;
}

.bottle-img{
  padding: 40px;
} 

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.right-margin-plus{
  margin-right: 15em;
    
}

.top-margin-plus{
  margin-top: 15em;
}

.left-margin-plus{
  margin-left: 15em;
}

.bottom-margin-plus{
  margin-bottom: 15em;
}

div#beer-info-pale {
    width: 500px;
    max-width: 100%;
    z-index: 3;
    position: absolute;
    max-height: 100%;
    padding-top: 160px;
    right: 0;

  }
div#beer-info-lusse {
    width: 500px;
    max-width: 100%;
    display: none;
    z-index: 2;
    position: absolute;
    max-height: 100%;
    padding-top: 150px;
    right:0;
  }
div#beer-info-fear {
    width: 500px;
    max-width: 100%;
    display:none;
    z-index: 1;
    position: absolute;
    max-height: 100%;
    padding-top: 150px;
    right: 0;
  } 

 .lable-image-pale{
  padding-top: 300px;
  
 }

 .lable-image-fear{
  display: none;
 } 
 
 .lable-image-lusse{
  display: none;
 }

  .info-container{
    position: relative;
  }

.order-text{
  font-family: 'IntriqueScriptPersonalUse';
  font-size: 5em;
  color: black;
  max-width: 100%;
  width: 420px;
  


}

.fa-5x {
    font-size: 1em;
}

.order-container{
  padding-top: 800px;
}

.fb-like{
  text-align: center;
}

.like{
  margin: auto;
  display: block;
}
.like a:hover{  
  text-decoration: none;

}
.like a:visited{  
  text-decoration: none;

}

.like a{  
  margin: auto;
      display: block;

}


@media screen and (max-width: 1200px) {
  body{
  font-size: 80%
 }
}

@media screen and (max-width: 800px) {
  body{
  font-size: 80%
 }
  .img-size {
    width: 55%;
  
  } 

}

@media screen and (max-width: 400px ) {
 
 body{
  font-size: 80%
 }
  .img-size{
    width: 50%;
  
}
  .header h3{
    font-size: 1.1em;

  }

  iframe{
    height: 35%;
  }

  #beer-info-fear{
    padding-top: 180px !important;


  }
  #beer-info-lusse{
    padding-top: 180px !important;
  }
  #beer-info-pale{
    padding-top: 180px !important;
  }

  #beer-text{
    font-size: 1em;
  } 

  #beer-title{
    font-size: 2em;
  }

  .lable-image-pale{
    padding-top: 120px;
  }

  .beer-menu a{
    font-size: 1em;
    padding: 4px;
  }

  .beer-menu{
    margin: 0px;
    
  }
  
  .video-contianer{
    height:10%;
    padding-top: 30px;
  }

  .lable{
    width: 55%;
  }
  
  .insta-img{
    width: 25%;

  }
  .cloud-right{
    margin-top: 0px;
  }

  .cloud-top{
    margin-top: 400px;
  }
  .order-text{
    font-size: 3.5em !important;
    padding-top: 1px !important;
  }

  .order-container {
      padding-top: 250px
}

#insta-container{
  top: 500px;
}



}



@media screen and (max-device-height: 800px , max-device-height: 1400px ) {

  .video-contianer{
    padding-top: 300px;
  }

  .instafeed{
    padding-top: 250px;
  }

  .order-text{
    padding-top: 900;
    
  }

  .beer-info p{
    font-size: 1.3em;
  }
  .beer-info h4{
    font-size: 4.7em;
  }

  div#beer-info-pale{
    width: 350px;
  }
  div#beer-info-fear{
    width: 350px;
  }
  div#beer-info-lusse{
    width: 350px;
  }


}

@media screen and (max-device-height: 600px){
  body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }



  body{
  font-size: 80%
 }
  .img-size{
    width: 50%;
  
}
  .header h3{
    font-size: 1.1em;

  }

  iframe{
    height: 35%;
  }

  #beer-info-fear{
    padding-top: 1px;


  }
  #beer-info-lusse{
    padding-top: 1px;
  }
  #beer-info-pale{
    padding-top: 1px;
  }

  #beer-text{
    font-size: 1em;
  } 

  #beer-title{
    font-size: 2em;
  }

  .beer-menu a{
    font-size: 2em;
    padding: 40px;
  }

  .beer-menu{
    right: 0;
    top: 220px;
    
  }
  
  .video-contianer{
    height:10%;
    padding-top: 50px;
  }

  .lable{
    width: 55%;
  }

  .lable-empty{
    width: 30%;
  }
  
  .insta-img{
    width: 25%;

  }
  .cloud-right{
    margin-top: 0px;
  }

  .cloud-top{
    margin-top: 400px;
  }
  .order-text{
    font-size: 5em;
    padding-top: 100px;
  }

}

@media only screen and (orientation : landscape) and (min-device-width : 320px) and (max-device-width : 480px)  {
  body{
    background-image:url('/images/landscape-bg-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }
 

  .lable-image-pale {
    padding-top: 160px;
}
  .lable {
    width: 30%;
}
div#beer-info-pale {
   position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
div#beer-info-fear {
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
div#beer-info-lusse {
   position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
.video-contianer {
    height: 10%;
    padding-top: 250px;
}
iframe {
    height: 50%;
    max-width: 85%!important;
}

#insta-container{
  top: 450px;
}
.insta-img {
    width: 10%;
}
.lable-empty {
    width: 20%;
}
.order-text {
    font-size: 3em;
    padding-top: 50px;
      margin: auto;
}
.order-container {
    padding-top: 480px;
}

}

@media only screen and (orientation : portrait) and (min-device-width : 320px) and (max-device-width : 480px)  {
  body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }


    .lable {
    width: 40%;
}
iframe {
    max-width: 80%!important;

}
.video-contianer {
    height: 10%;
    padding-top: 125px;
}
.insta-img {
    width: 20%;
}
.lable-empty {
    width: 25%;
}
.order-container {
    padding-top: 415px;
}
.beer-menu{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
}
@media only screen and (orientation : portrait) and (min-device-width : 320px) and (max-device-width : 568px){
  .beer-menu {
    top: 210px!important;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   body{
    background-image:url('/images/landscape-bg-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }

  .beer-menu {
    width: 100%;
    margin: auto;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    top: 450px;
}

div#beer-info-pale{
    padding-top: 300px;
    right: 0;
    left: 175px;
}
div#beer-info-fear {
    padding-top: 300px;
    right: 0;
    left: 175px;
}
div#beer-info-lusse {
    padding-top: 300px;
    right: 0;
    left: 175px;
}

.order-text{
    margin: auto;
}

#instafeed {
    width: 985px;
    max-width: 83%;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)and (-webkit-min-device-pixel-ratio: 1)  {
     body{
    background-image:url('/images/landscape-bg-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)and (-webkit-min-device-pixel-ratio: 1)  {
  body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
}


@media only screen and (orientation : landscape) and (min-device-width : 320px) and (max-device-width : 568px){
  body{
    background-image:url('/images/landscape-bg-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }


   .lable-image-pale {
    padding-top: 160px;
}
  .lable {
    width: 30%;
}
div#beer-info-pale {
   position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
div#beer-info-fear {
   position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
div#beer-info-lusse {
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.video-contianer {
    height: 10%;
    padding-top: 250px;
}
iframe {
    height: 50%;
    max-width: 85%!important;
}

#insta-container{
  top: 450px;
}
.insta-img {
    width: 10%;
}
.lable-empty {
    width: 20%;
}
.order-text {
    font-size: 3em;
    padding-top: 50px;
      margin: auto;
}
.order-container {
    padding-top: 440px;
}
.beer-menu{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}
}

@media only screen and (orientation : landscape) and (min-device-width : 375px) and (max-device-width : 667px){
   body{
    background-image:url('/images/landscape-bg-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }


  .lable-image-pale {
    padding-top: 160px;
}
  .lable {
    width: 30%;
}

.beer-menu{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}

div#beer-info-pale {
    
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
div#beer-info-fear {
    
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
div#beer-info-lusse {
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.video-contianer {
    height: 10%;
    padding-top: 250px;
}
iframe {
    height: 50%;
    max-width: 85%!important;
}

#insta-container{
  top: 450px;
}
.insta-img {
    width: 10%;
}
.lable-empty {
    width: 20%;
}
.order-text {
    font-size: 4em;
    padding-top: 50px;
      margin: auto;
}
.order-container {
    padding-top: 480px;
}
}

@media only screen and (orientation : portrait) and (min-device-width : 375px) and (max-device-width : 667px){
  body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }


  .lable-image-pale {
    padding-top: 160px;
}
  .lable {
    width: 50%;
}

.beer-menu{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 270px;

}

.beer-menu a {
  margin: 30px
}

div#beer-info-pale {
    
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 180px!important;
}
div#beer-info-fear {
    
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 180px!important;
}
div#beer-info-lusse {
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 180px!important;
}
.video-contianer {
    height: 10%;
    padding-top: 40px;
}
iframe {
    height: 50%;
    max-width: 85%!important;
}

#insta-container{
  top: 450px;
}
.insta-img {
    width: 14%;
}
.lable-empty {
    width: 20%;
}
.order-text {
    font-size: 4em;
    padding-top: 50px;
      margin: auto;
}
.order-container {
    padding-top: 380px;
}
}

@media only screen and (orientation : landscape) and (min-device-width : 414px) and (max-device-width : 736px){
  body{
    background-image:url('/images/landscape-bg-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }


  .lable-image-pale {
    padding-top: 160px;
}
  .lable {
    width: 30%;
}

.beer-menu{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}

div#beer-info-pale {
    
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
div#beer-info-fear {
    
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
div#beer-info-lusse {
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.video-contianer {
    height: 10%;
    padding-top: 250px;
}
iframe {
    height: 50%;
    max-width: 85%!important;
}

#insta-container{
  top: 450px;
}
.insta-img {
    width: 10%;
}
.lable-empty {
    width: 20%;
}
.order-text {
    font-size: 4em;
    padding-top: 50px;
      margin: auto;
}
.order-container {
    padding-top: 480px;
}
}

@media only screen and (orientation : portrait) and (min-device-width : 414px) and (max-device-width : 736px){

  body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }
  .beer-menu a{
  margin: 0;

}
.beer-menu {
  top:650px;
}
.video-contianer {
    height: 10%;
    padding-top: 90px;
}

#insta-container {
    top: 550px;
}
}





@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

/*  body{
    background-image:url('/images/bg-full-mobile.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }*/
  .img-size{
    display: none !important;
  }
  .cloud-right{
    display: none !important;
  }

  .cloud-left{
    display: none !important;
  }
}

@media screen and (max-width: 1100px){
  .beer-info p{
    font-size: 1.2em;
  }


 #beer-info-pale{
  width: 400px !important
 }
 #beer-info-lusse{
  width: 400px !important
 }
 #beer-info-fear{
  width: 400px !important
}
  }




